name: 'Test Action'
on:
  workflow_dispatch: {}
  push:
    branches: ['main']

jobs:
  test_action:
    runs-on: ubuntu-latest
    name: 'Test Manifest action'
    steps:
      - uses: actions/checkout@v4

      - name: 'Run'
        id: run
        uses: ./
        with:
          version: 'latest-snapshot'
      
      - name: 'Output'
        run: |
          # echo "raw-json: ${{ steps.run.outputs.raw-json }}"
          echo "latest-release-version: ${{ steps.run.outputs.latest-release-version }}"
          echo "latest-snapshot-version: ${{ steps.run.outputs.latest-snapshot-version }}"
          echo "versions: ${{ steps.run.outputs.versions }}"
          echo "release-versions: ${{ steps.run.outputs.release-versions }}"
          echo "snapshot-versions: ${{ steps.run.outputs.snapshot-versions }}"
          echo "april-fools-versions: ${{ steps.run.outputs.april-fools-versions }}"
          echo "type: ${{ steps.run.outputs.type }}"
          echo "package-url: ${{ steps.run.outputs.package-url }}"
          echo "create-time: ${{ steps.run.outputs.create-time }}"
          echo "release-time: ${{ steps.run.outputs.release-time }}"
