name: 'Test Action'
on:
  workflow_dispatch: {}
  push:
    branches: ['main']

jobs:
  test_action:
    runs-on: ubuntu-latest
    name: 'Test Manifest action'
    steps:
      - uses: actions/checkout@v4

      - name: 'Run'
        id: run
        uses: ./
        with:
          version: 'latest-snapshot'
        
      - name: 'List versions'
        run: |
          OUTPUT_VERSIONS=${{ steps.run.outputs.versions }}
          echo "Versions:"
          echo $OUTPUT_VERSIONS | jq '.[]'
