name: 'Test Action'
on:
  workflow_dispatch: {}
  push:
    branches: ['main']

jobs:
  test_action:
    runs-on: ubuntu-latest
    name: 'Test Manifest action'
    steps:
      - uses: actions/checkout@v4

      - name: 'Run Invalid'
        id: run-invalid
        uses: ./
        with:
          version: '---'
          if-version-is-invalid: 'warn'
          
      - name: 'Run'
        id: 'manifest'
        uses: ./
        with:
          version: 'latest-snapshot'
      
      - name: 'Output'
        run: |
          echo "version: ${{ steps.manifest.outputs.version }}"
          echo "raw-json: ${{ steps.manifest.outputs.raw-json }}"
          echo "latest-release-version: ${{ steps.manifest.outputs.latest-release-version }}"
          echo "latest-snapshot-version: ${{ steps.manifest.outputs.latest-snapshot-version }}"
          echo "java-version: ${{ steps.manifest.outputs.java-version }}"
          echo "versions: ${{ steps.manifest.outputs.versions }}"
          echo "release-versions: ${{ steps.manifest.outputs.release-versions }}"
          echo "snapshot-versions: ${{ steps.manifest.outputs.snapshot-versions }}"
          echo "april-fools-versions: ${{ steps.manifest.outputs.april-fools-versions }}"
          echo "type: ${{ steps.manifest.outputs.type }}"
          echo "create-time: ${{ steps.manifest.outputs.create-time }}"
          echo "release-time: ${{ steps.manifest.outputs.release-time }}"
          echo "package-url: ${{ steps.manifest.outputs.package-url }}"
          echo "client-download-url: ${{ steps.manifest.outputs.client-download-url }}"
          echo "server-download-url: ${{ steps.manifest.outputs.server-download-url }}"
          echo "asset-index-url: ${{ steps.manifest.outputs.asset-index-url }}"
          echo "is-latest-release: ${{ steps.manifest.outputs.is-latest-release }}"
          echo "is-latest-snapshot: ${{ steps.manifest.outputs.is-latest-snapshot }}"
